html { 
    background-color: #B4C1F1;
    text-align: center;}

.lora-nor {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .lora-bol {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  body {
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }

  footer {
    background-color: #aa80f3;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

/*TODO put in html doc */
  button {
    background-color: #aa80f3; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  /* Flexbox for pesticide testing. */
  .flex-container { display : flex; }
  .card { 
                  background : blue;
                  border : 30px solid white;
                  height : 100px;
                  flex : 1;
              }
  .first { flex : 2; }
  .second { flex : 0.5; }

  /* Swiss flag */
  .red-box { 
    background-color: red;
    width: 200px;
    height: 200px;
    position : relative;
    margin : 100px;
}
.vert-white {
    background-color: white;
    height : 100px;
    width : 33.3px;
    position: absolute;
    top : 50px;
    left : 83.5px;
}
.hor-white {
    background-color: white;
    height : 33.3px;
    width: 100px;
    position: absolute;
    top : 83.5px;
    left : 50px;
}
  
